{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link href='{% static "css/style.css" %}' rel="stylesheet">
</head>
<body>
    <div id="content">
        <h1>{{ post.title }}</h1>
        <p class="date">Published {{post.publish}} by {{post.author}}</p>
        <h2>{{ post.body }}</h2>
        <a href="{% url "posts:index" %}" ><h2>Back</h2></a>
    </div>
    <div id="sidebar">
        <h2>pk blogs</h2>
        <p>Travel & share your Experiences</p>

    </div>
</body>
</html>